{% extends 'base.html.twig' %}

{% block title %}Le bon coin{% endblock %}

{% block body %}

<h1>Le bon coin du pauvre !</h1>

{% include "base/card-annonce.html.twig" %}

<div class="row">
    <div class="d-flex justify-content-center">
        {% do annonces.setPageRange(2) %}
        {{ knp_pagination_render(annonces, 'base/pagination.html.twig')  }}
    </div>
</div>
{% endblock %}
